/* Reset de márgenes y rellenos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
}

h1 {
    font-size: 2em;
    margin: 10px 0;
}

.intro {
    text-align: center;
    padding: 20px;
}

.contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Media Queries */
@media (max-width: 768px) {
    h1 {
        font-size: 1.5em;
    }

    .contenido {
        flex-direction: column;
    }
}

@media (min-width: 769px) {
    h1 {
        font-size: 2em;
    }
}
